<h2>Explore our menu</h2>
<div class="menus">
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-dimsum.svg" alt="Dimsum"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Dimsum</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-seafood.svg" alt="Seafood"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Seafood</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-szechuan.svg" alt="Szechuan Wok"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Szechuan Wok</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-specialty.svg" alt="Cantonese Specialties"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Cantonese Specialties</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-lunch.svg" alt="Lunch Specials"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Lunch Specials</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-takeout.svg" alt="Takout"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Takout</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-single.svg" alt="Dinner for One"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Dinner for One</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-group.svg" alt="Dinner for Group"/></div>
    <div class="menu-content">
      <h3 class="menu-title">Dinner for Group</h3>
      <p class="menu-description">We serve a wide selection of both traditional and modern dimsum. If you come in the morning, you can enjoy most dimsum dishes served warm and fresh from heated dimsum carts. Some most popular dishes are still available in the afternoon until 4:00pm, or can be ordered to-go.</p>
      <div class="menu-list">
        <div class="menu-item">
          <div class="item-name">Pork egg rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pan-seared pork potstickers</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed chicken feet</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Spareribs in black bean sauce</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork bean curd rolls</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Pork siu mai dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Scallop &amp; shrimp dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp &amp; cilantro dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Shrimp har gow dumplings</div>
          <div class="item-price">4.5</div>
        </div>
        <div class="menu-item">
          <div class="item-name">Steamed barbeque pork buns</div>
          <div class="item-price">4.5</div>
        </div>
      </div>
    </div>
  </div>
</div>
