<div class="about">
  <h2>Authentic Chinese food made with fresh ingredients, and Cantonese traditional and modern dim sum</h2>
  <p>Po and Amy Lee have been in the restaurant business for over 40 years in Seattle, with almost 20 years at the House of Hong. They retired several years ago, but still had the itch to open yet another restaurant with their passion for sharing their heritage through food and love for eating. They could not stay out the restaurant business for long, since they have come out of retirement to reopen the House of Hong (which has been in Seattle for close to 40 years).</p>
</div>
<div class="info">
  <div class="info-block">
    <h3 class="info-title">Phone</h3>
    <p class="info-body">(206) 622-7997</p>
  </div>
  <div class="info-block">
    <h3 class="info-title">Location</h3>
    <p class="info-body">409 8th Ave S, Seattle, WA 98104</p>
  </div>
  <div class="info-block">
    <h3 class="info-title">Hours</h3>
    <p class="info-body">Open: 9:30 am - 10:00 pm (Everyday)</p>
    <p class="info-body">Dimsum: 9:30 am - 4:00 pm (Everyday)</p>
  </div>
</div>
