<footer class="site-footer">
  <ul class="social">
    <li class="social-item"><a href="https://www.instagram.com/houseofhongseattle/" title="House of Hong on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li class="social-item"><a href="https://www.facebook.com/HouseofhongSeattle/" title="House of Hong on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li class="social-item"><a href="https://twitter.com/houseofhongsea" title="House of Hong on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li class="social-item"><a href="mailto:hello@houseofhongseattle.com?Subject=Hello%20from%20website" title="hello@houseofhongseattle.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
  </ul>
  <div class="info">
    <p>409 8th Ave S, Seattle, WA 98104</p>
    <p>(206) 622-7997</p>
  </div>
  <ul class="nav">
    <li class="nav-item"><a href="#restaurant">Restaurant</a></li>
    <li class="nav-item"><a href="#menu">Menu</a></li>
    <li class="nav-item"><a href="#order">Order online</a></li>
    <li class="nav-item"><a href="#catering">Catering</a></li>
  </ul>
  <div class="tagline">
    <p>Gourmet Dimsum and Chinese cuisine, crafted with fresh ingredients</p>
  </div>
  <div class="copyright">
    <p>© House of Hong Restaurant | All rights reserved</p>
  </div>
</footer>
