<header class="site-header">
  <nav class="site-nav">
    <input type="checkbox" id="menu-checkbox"/>
    <label class="menu-icon" for="menu-checkbox"><i class="material-icons hamburger">menu</i><i class="material-icons close">close</i></label>
    <div class="site-nav-menu">
      <div class="site-nav-menu-wrapper">
        <div class="site-nav-menu-item active"><a href="{{site.url}}/#restaurant">Restaurant</a></div>
        <div class="site-nav-menu-item"><a href="{{site.url}}/#explore-menu">Menu</a></div>
        <div class="site-nav-menu-item logo"><a href="{{site.url}}"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/logo_rgb_white.svg"/></a></div>
        <div class="site-nav-menu-item"><a href="{{site.url}}/#delivery">Delivery</a></div>
        <div class="site-nav-menu-item"><a href="{{site.url}}/#catering">Catering</a></div>
      </div>
    </div>
  </nav>
</header>
