$color-white: #fff;
$color-black: #000;
$color-grey-light: #d0d7d9;
$color-grey-dark: #737373;
$color-grey-darker: #3e3f40;
$color-grey-darkest: #212226;
$color-brand: #7b2a3b;
$color-accent: #f9be40;
