<h2>Order delivery</h2>
<div class="row">
  <div class="six columns"><img class="swimlane-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/299329/icon-delivery.svg" alt="Delivery"/></div>
  <div class="swimlane-text six columns">
    <p>Love our food, but don't love the trip so much? Thankfully, in the age of apps, one can order food for delivery with just a few clicks on the web or taps of a phone screen. We're on UberEats! Simply input your location, find us and select your favorite dishes. It will bring deliciousness straight to your doorstep.</p>
    <div class="order-button"><a class="button cta" href="https://www.ubereats.com/en-GB/seattle/food-delivery/house-of-hong/nUxGc2MQQmiJxJ9-vClhlw/" title="Order delivery on UberEats">Order delivery on UberEats</a></div>
  </div>
</div>
