<div>
  <h2>Authentic Chinese food made with fresh ingredients, and Cantonese traditional and modern dim sum</h2>
  <p>Po and Amy Lee have been in the restaurant business for over 40 years in Seattle, with almost 20 years at the House
    of Hong. They retired several years ago, but still had the itch to open yet another restaurant with their passion
    for sharing their heritage through food and love for eating. They could not stay out the restaurant business for
    long, since they have come out of retirement to reopen the House of Hong (which has been in Seattle for close to 40
    years).</p>
</div>
<div class="row">
  <div class="six columns">
    <h3>Updated Business hours</h3>
    <p class="note">Dear customers, due to the current COVID-19 situation, we’re temporarily updating our business hours
      as below. Thank you for your understanding and support!</p>
    <p>Monday - Thursday: Closed all day</p>
    <p>Friday - Sunday: 9:30 am - 10:00 pm</p>
  </div>
  <div class="six columns">
    <h3>Phone</h3>
    <p>(206) 622-7997</p>
    <h3>Address</h3>
    <p>409 8th Ave S, Seattle, WA 98104</p>
  </div>
</div>