{% assign items = site.data.menu | where: "type", menu %}
<div class="menu">
  <div class="menu-thumbnail">
    <svg viewBox="0 0 200 200" class="icon menu-thumbnail black">
      <use xlink:href="#icon-{{ menu }}" />
    </svg>
  </div>
 <div class="menu-content">
   <h3 class="menu-title">
     {{ items[0].typename_en | capitalize }}
     <span lang="zh">{{ items[0].typename_ch }}</span></h3>
   <div class="menu-list">
     {% for item in items | limit: limit %}
     <div class="menu-item">
       <div class="item-name">
         <span>{{ item.name_en }}</span>
         <span lang="zh">{{ item.name_ch }}</span>
       </div>
       <div class="item-price">
         {% if item.price > 99 %}
         Seasonal price
         {% else %}
         {{ item.price }}
         {% endif %}
       </div>
     </div>
     {% endfor %}
   </div>
   {% if limit %}
   <div class="menu-viewmore">
     <a href="{{ site.url }}/explore-menu/{{ menu }}.html">View more items</a>
   </div>
   {% endif %}
 </div>
</div>
